/* The css file for lab 3 */

* {
  color: black;
}

body {
  background-color: #FCFCFC;
  font-family: 'Roboto', sans-serif;
}

body, html {
  color: rgb(51, 56, 68);
}

html {
  font-size: 14pt;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 12pt;
  }
}

.image-content-wrapper {
  margin: auto;
  width: 100%;
}
figure {
  margin: auto;
  width: 600px;
}
img {
  width: 100%;
  max-width: 600px;
  margin: 20px 0 20px 0;
  border-width: 12px;
  border-color: #fa3;
  border-style: solid;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.content-section {

}

table {
  width: 25%;
  min-width: 300px;
  border: 1mm solid black;
}
table th {
  border-bottom: 1px solid black;
}

.content-section p {
  position: relative;
  left: 1rem;
  color: rgb(51, 56, 68);
  border-width: 0.25rem;
  border-color: rgba(252, 167, 49, 0.6);
  border-radius: 0.5em;
  border-style: solid;
  height: 4ch;
  width: 90%;
  max-width: 600px;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.content-section a {
  color: #fa3;
}

.content-section a:active {
  color: purple;
}

a[href="http://stoneztao.com/"] {
  color: rgba(152, 140, 13, 0.85);
}

.content-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.content-section.funny h1 {
  color: hsl(12, 100%, 50%);
}

canvas {
  display: none;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(55, 153, 233);
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
}
header {
  
}
header > nav > div {
  margin-left: 2rem;
  margin-right: 2rem;
  display: inline-block;
  width: auto;
  background-color: rgb(55, 153, 233);
  color: white;
  padding: 1rem;
}
h1, h2 {
  width: 20cm;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration:underline;
}
h1 + h2 {
  color: purple;
}

legend ~ label {
  color: hsla(122, 45%, 60%, .85);
}
legend {
  width: 100mm;
  color: #ff0092;
}